* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Element selectors */
body {
    background-color: lightcyan;
    font-family: 'Poppins', sans-serif;
}

/* header {
    height: 100px;
    background-color: #517d9b;
}*/

h1 {
    color: #254D32;
    transform: translate(375px, 130px);
    font-weight: bold;
}

h2,
p {
    color: #5e6275;
}

h2 {
    margin-right: 10px;
    font-size: 2rem;
    text-align: end;
}

nav {
    /* background-color:#9ebec7; */
    background-color:#76BC84;
    /* background-color:#92C99D; */
}

ul,
li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* a {
    color: #9ebec7;
    font-weight: bold;
    font-size: 25px;
} */

p {
    line-height: 2em;
}

figure,
img {
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: 20px;
}

footer {
    font-family: 'Dancing Script', cursive;
    text-align:center;
    color: #2a607c;
}

section > div {
    margin-bottom: 20px;
}

/* Id selectors */
#profile {
    /* display: flex; */
    position: absolute;
    transform: translate(440px, -25px);
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 150px; */
    width: 10%;
    /* flex-shrink: 0; */
    /* z-index: 1; */
    border-radius: 50%;
}

/* Class selectors */
.navbar-brand {
    color: #2a607c;
    font-size: 2rem;
}

.nav-link {
    color: #2a607c;
    font-size: 1.2rem;
    font-weight:bold;
}

.portfolio-intro {
    position: absolute;
    /* top: 175px;
    margin: 10px; */
    transform: translate(380px, 120px);
    /* background-color: #9ebec7; */
    color: #254D32;
    font-size: 1.5rem;
    padding: 0 5px;
    font-weight: bold;
}

.portfolio-main-app {
    display: flex;
    flex-basis: 100%;
}
.portfolio-secondary-app {
    display: flex;
    flex-basis: 50%;
}

.portfolio-secondary-app-a {
    display: flex;
    flex-basis: 100%;
}

.portfolio-img {
    /* display: inline-flex;
    justify-content: flex-end; */
    /* align-items: center;*/
    position: relative;
    height: 330px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-image: url("../images/header-image.jpeg");
    background-size: cover;
    background-position: center;
}

.portfolio-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio-title {
    justify-content: end;
    align-items: flex-start;
    border-right: 3px solid #2a607c;
    width: 20%;
    padding-right: 10px;
}

.portfolio-info {
    width: 80%;
    padding: 0 40px 0 20px;
}

.portfolio-para {
    font-size: 1rem;
    margin: 0 20px;
}

.portfolio-images {
    height: 250px;
    width: 100%;
    padding: 0;
    border: 5px solid #9ebec7;
}

.portfolio-heading {
    position: absolute;
    color: #2a607c;
    background-color:#9ebec7;
    z-index: 1;
    text-decoration: none;
    top: 40px;
    height: 70px;
    padding: 10px;
    font-size: 1.7rem;
}

.portfolio-contact {
    list-style-type: none;
}

/* Media queries for responsive layout*/
@media screen and (max-width: 992px) {
    body {
        font-size: 12px;
    }
    .portfolio-secondary-app {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 10px;
    }
    .portfolio-secondary-app {
        flex-basis: 100%;
    }
  }
  
@media screen and (max-width: 576px) {
    body {
        font-size: 8px;
    }
  }

